.app.dark {
  --bg-color: #0f172a;
  --inverted-bg-color: #f1f5f9;

  --primary-color: #f1f5f9;
  --secondary-color: #cbd5e1;
  --inverted-primary-color: #475569;
  --inverted-secondary-color: #94a3b8;
}