.app.dark {
  --bg-color: #000F14;
  --inverted-bg-color: #EBFAFF;

  --primary-color: #EBFAFF;
  --secondary-color: #70DBFF;
  --inverted-primary-color: #001F29;
  --inverted-secondary-color: #0099CC;
}