.app.light {
  --bg-color: #EBFAFF;
  --inverted-bg-color: #000F14;

  --primary-color: #001F29;
  --secondary-color: #0099CC;
  --inverted-primary-color: #EBFAFF;
  --inverted-secondary-color: #70DBFF;
}