.app.light {
  --bg-color: #f1f5f9;
  --inverted-bg-color: #0f172a;

  --primary-color: #475569;
  --secondary-color: #94a3b8;
  --inverted-primary-color: #f1f5f9;
  --inverted-secondary-color: #cbd5e1;
}